@charset "utf-8";

body{
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    line-height: 1.5;
}



.vdbanner{
    nav-index: -60px 0;
}

h1{
    font-size: 5vw;
}

p{
    font-size: 1.6vw;
}

img{
    width: 100%;
}

.header{
    padding: 0;
    margin: 0;
    display: flex;
}

.container{
    width: 41.6vw;
    height: 66.6vw;
}


.container .left_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideLeft 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 3.5s;
}

@keyframes slideLeft{
    0% {
        transform: translateX(-180px);
        opacity: 0;
      }
    100% {
        transform: translateX(0);
      }
    40%,100% {
        opacity: 1;
      }
}

nav{
    width: 58.3vw;
    height: 6.9vw;
    background-color: #919191;
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    animation: slideTop 3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 3.5s;
}

@keyframes slideTop{
    0% {
        transform: translateY(-180px);
        opacity: 0;
      }
    100% {
        transform: translateY(0 );
      }
    40%,100% {
        opacity: 1;
      }
}

nav a{
    padding: 2.7vw;
    text-decoration: none;
    display: inline-block;
    color: #2f2f2f;
}
.right{
    display: block;
    height: 66.6vw;
}
.container h1{
    position: absolute;
    top: 41.6vw;
    left: 21.4vw;
    color: #919191;
    z-index: 1;
}

.right .right_img{
    max-width: 58.3vw;
    height: 59.7vw;
    object-fit: cover;
    filter: grayscale(0.8);
    animation: slideRight 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 3.5s;
}

@keyframes slideRight{
    0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
}

.splash_container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}
.splash_container .splash_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash_content svg{
    width: 50%;
    height: 50%;
}

main{
    padding: 0;
    margin: 0;
}

.main1{
    margin: 0;
    width: 70%;
    height: 41vw;
    display: flex;
    padding: 12% 15%;
    background-image: url(../images/wood.png);
    justify-content: center;
    align-items: center;
}

.main1 .img_box{
    width: 50%;
    padding: 0;
    height: 72%;
    object-fit: cover;
    box-shadow: -40px -30px #2f2f2f;
    overflow: hidden;
}

.img_box img{
    object-fit: cover;
}

.main1 .text{
    max-width: 30vw;
    max-height: 60vw;
    padding: 0 3.5vw 0 3.5vw;
    margin: 0 0 0 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(255,255, 255, 0.5);
}
.text p{
    overflow: scroll;
}

.text p::-webkit-scrollbar{
    display: none;
}

.text button{
    height: 3.5vw;
    width: 60%;
    margin: 3.5vw 0;
    padding: 0 20px;
    border: 0;
    border-radius: 2vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: -6px -6px 10px #FFFFFF,6px 6px 10ox #2f2f2f;
    transition: all 0.3s;
}

.text button:hover{
    box-shadow: 2px 2px 2px #FFFFFF, -2px -2px 2px #2f2f2f;
}

.text button a{
    text-decoration: none;
    color: #2f2f2f;
    transition: all 0.3s;
}

.text button a p{
    font-size: 1.6vw;
    transition: all 0.3s;
}

.text button:hover a p{
    font-size: 1.8vw;
}

.text button a p{
    margin: 0;
}



.main1 .link_img{
    display: block;
    width: 24.3vw;
    padding: 0 3.47vw 0 6.94vw;
    justify-content: center;
    align-items: center;
}

.main1 .link_img img{
    width: 10.4vw;
    height: 10.4vw;
    box-shadow: none;
    padding: 15px;
}

.mail_img img{
    border-radius: 3vw;
}

.main2 {
    width: 100%;
    height: auto; /* 固定高さを避け、コンテンツに応じて高さが変わるように */
    background-image: url(../images/wave2.png);
    background-repeat: no-repeat; /* 画像をカバーするように調整 */
    background-position: center; /* 中央に画像を表示 */
    padding: 4vw 0;
    text-align: center;
}

.main2 h1 {
    font-size: 4vw; /* レスポンシブなフォントサイズ */
    color: #FFFFFF;
    z-index: 1;
    text-align: center;
    margin: 0;
}

.main2 .works {
    display: flex;
    justify-content: center;
    margin: 4% 4.5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #fff rgba(0,0,0,0);
}


.works .image-container {
    width: 100%;
    min-width: 21vw;
    height: 21vw;
    max-width: 300px;
    position: relative;
    margin: 0 0 0 40px;
}


.works .image-container img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover; /* 画像がコンテナに収まるよう調整 */
    aspect-ratio: 1/1;
}

.figma_link{
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.6vw;
    padding: 1.4vw;
    text-decoration: none;
}

.figma_link a{
    font-size: 1.6vw;
    text-decoration: none;
    color: #2f2f2f;
}

footer{
    width: 100%;
    height: 17.36vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #434343;
    position: relative;
}

hr{
    height: 10vw;
    border: 0;
}

.logo {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17.36vw;
    height: 17.36vw;
    transition: all 0.3s;
    z-index: 99;
}

.logo:hover{
    width: 13.8vw;
    height: 13.8vw;
}

.console {
    position: relative;
    width: 20.83vw;
    height: 20.83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    position: relative;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}
.label {
    opacity: 0;
    position: absolute;
    color: #fff;
    font-size: 16px;
    transition: opacity .3s ease;
    cursor: pointer;
}

.label a{
  color: #fff;
}

.label.top {
    top: 2.43vw;
    left: -0.69vw;
    transform: translateX(-50%);
}

.label.about {
bottom: 1.94vw;
right: -10.98vw;
transform: translateX(-50%);
}

.label.recruit {
top: 5.55vw;
right: -4.44vw;
transform: translateY(-50%);
}

.label.contact {
bottom: -0.41vw;
left: -5.48vw;
transform: translateY(-50%);
}

.logo:hover+.circle{
    width: 100%;
    height: 100%;
}

.logo:hover ~ .circle .label {
    opacity: 1;
}

.circle:hover{
    width: 100%;
    height: 100%;
}

.circle:hover  .label{
    opacity: 1;
}
.circle:hover .logo{
    width: 13.88vw;
    height: 13.88vw;
}

.main3{
    margin: 0;
    width: 70%;
    display: flex;
    flex-flow: column;
    padding: 12% 15%;
    background-image: url(../images/wood.png);
    justify-content: center;
    align-items: center;
}

.main3 img{
    width: 50%;
    height: 82%;
    object-fit: cover;
    box-shadow: -2.77vw -2.08vw #2f2f2f;
}

.main3 .introduce_box{
    display: flex;
    flex-flow: column;
}

.introduce_text{
    text-align: center;
}

.history_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50px;
    padding: 15px;
}

.history_box tbody td{
    text-align: left;
    padding-left: 20px;
}



.add-page {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.add_page_btn{
     display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add_page_btn:hover{
    background-color: #0056b3;
}

.back-link {
    text-align: center;
    margin-top: 20px;
}

.introduce_text_box{
    gap: 60px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50px;
    padding: 15px;
}

.introduce_text h2{
    margin: 0;;
}

.QA_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50px;
}

.QA{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
}

.QA_box img{
    box-shadow: none;
}

.chat{
    display: flex;
    padding: 30px 15px;
    gap: 20px;
    flex-direction: column;
}

.pop_left{
    width: fit-content;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 50px;
}

.pop_right{
    margin-left: 110px;
    width: 335px;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 50px;
}

.chat_cns{
    width: 100%;
    margin: 0;
    gap: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 50px 50px;
}

.inp_img_box{
    margin: 18px 0 ;
    background-color: #F5F5F5;
    padding: 10px;
    border-width: 1px;
    border-color: #000;
    border-radius: 100px;

}

.submit_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
    border-width: 1px;
    border-color: #000;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
}

.submit_img img{
    width: 100%;
}


@media (max-width:450px) {
    html{
        overflow-x: hidden;
    }

    body{
        width: 100%;
        font-weight: bold;
        font-optical-sizing: auto;
        font-style: normal;
        margin: 0;
        line-height: 1.5;
        max-width: 450px;
        }
    
    h1{
        font-size: 5.5vw;
        margin: 0;
        }
    
    h3{
        font-size: 4.5vw;
        margin: 0;
    }

    p{
        font-size: 2.8vw;
        }
    
    img{
        width: 100%;
        }
    
    .header{
        padding: 0;
        margin: 0;
        display: flex;
        }
    
    .container{
        width: 0;
        height: 0;
        }
    
    .container .left_img{
        width: 0;
        height: 0;
        object-fit: cover;
        }
    
    nav{
        display: none;
        width: 0;
        height: 0;
        
    }
    
    
    nav p{
        display: none;
        width: 0;
        height: 0;
    }
    .right{
        width: 100%;
        max-height: 390px;
        display: block;
        height: 66.6vw;
    }
    .container h1{
        position: absolute;
        top: 56.5vw;
        left: 50%;
        color: #b0b0b0;
        z-index: 1;
    }
    
    .right .right_img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(0.8);
        animation: slideRight 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }
    
    @keyframes slideRight{
        0% {
            transform: translateY(0 180px);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
          }
          40%,100% {
            opacity: 1;
          }
    }
    
    main{
        padding: 0;
        margin: 0;
    }
    
    .main1{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vw;
        display: flex;
        background-image: url(../images/wood.png);
        justify-content: center;
        align-items: center;
    }

    .main1 .img_box{
        box-shadow: none;
    }
    
    .main1 img{
        width: 45.6vw;
        height: 45.6vw;
        object-fit: cover;
        box-shadow: none;
        border-radius: 100px;
    }
    
    .main1 .text{
        padding: 0 3.5vw 0 3.5vw;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .text p{
        margin:0.3vw 0;
        max-height: 20.5vw;
        width: 31.6vw;
        overflow-wrap: break-word;
        overflow-x: scroll;
        scrollbar-base-color: #919191;
    }
    .text h1{
        width: 41.6vw;
        margin:0.3vw 0 3.8vw 0;
    }
    
    .main1 .link_img{
        display: flex;
        flex-direction: column;
        width: 24.3vw;
        justify-content: center;
        align-items: center;
    }
    
    .main1 .link_img img{
        width: 10.4vw;
        height: 10.4vw;
        box-shadow: none;
        padding: 15px;
    }

    .text button{
        height: 3.5vw;
        width: 60%;
        margin: 3.5vw 0;
        padding: 0 20px;
        border: 0;
        border-radius: 2vw;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -6px -6px 10px #FFFFFF,6px 6px 10ox #2f2f2f;
        transition: all 0.3s;
    }
    
    .text button:hover{
        box-shadow: 2px 2px 2px #FFFFFF, -2px -2px 2px #2f2f2f;
    }
    
    .text button a{
        text-decoration: none;
        color: #2f2f2f;
        transition: all 0.3s;
    }
    
    .text button a p{
        font-size: 1.6vw;
        transition: all 0.3s;
    }
    
    .text button:hover a p{
        font-size: 1.8vw;
    }
    
    .text button a p{
        margin: 0;
    }
    
    .main2 {
        width: 100%;
        height: auto; /* 固定高さを避け、コンテンツに応じて高さが変わるように */
        background-image: url(../images/wave2.png);
        background-repeat: no-repeat; /* 画像をカバーするように調整 */
        background-position: center; /* 中央に画像を表示 */
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10vw 0;
        margin: 0;
    }
    
    .main2 h1 {
        font-size: 4vw; /* レスポンシブなフォントサイズ */
        color: #FFFFFF;
        z-index: 1;
        text-align: center;
        margin: 4% 0;
    }
    
    .main2 .works {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw; /* 画像間に余白を追加 */
        overflow: visible;
    }
    
    .works .image-container {
        width: 60vw;
        aspect-ratio: 16/9;
        max-width: 300px; /* 最大幅を設定 */
        height: 100%;
        margin: 0;
    }
    
    .works .image-container img {
        object-fit: cover;
        margin: 5vw 0;
        max-height: 300px;
        object-fit: cover; /* 画像がコンテナに収まるよう調整 */
        aspect-ratio: 1/1;
        border-radius: 5.1vw;
    }

    .main3{
        font-family: sans-serif;
        padding: 20% 15%;
    }

    .main3 img{
        box-shadow: -15px -15px #2f2f2f;
    }

    .main3 .introduce_text h2{
        font-size: 1.2rem;
    }
    
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        background-color: #434343;
        position: relative;
        padding: 3vw 0;
    }
    
    hr{
        height: 5vh;
        border: 0;
    }
    
    .logo {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17vw;
        height: 17vw;
        transition: all 0.3s;
        z-index: 100;
    }
    
    .logo:hover{
        width: 13vw;
        height: 13vw;
    }
    
    .console {
        position: relative;
        width: 20vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle {
        position: relative;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.3s;
    }
    .label {
        opacity: 0;
        position: absolute;
        color: #fff;
        font-size: 16px;
        transition: opacity .3s ease;
        cursor: pointer;
    }
    
    .label a{
      color: #fff;
    }
    
    .label.top {
        top: 1.4vw;
        left: -2.4vw;
        transform: translateX(-50%);
    }
    
    .label.about {
    bottom: 2vw;
    right: -22vw;
    transform: translateX(-50%);
    }
    
    .label.recruit {
    top: 6.5vw;
    right: -9.4vw;
    transform: translateY(-50%);
    }
    
    .label.contact {
    bottom: -3.7vw;
    left: -11vw;
    transform: translateY(-50%);
    }
    
    .logo:hover+.circle{
        width: 100%;
        height: 100%;
    }
    
    .logo:hover ~ .circle .label {
        opacity: 1;
    }
    
    .circle:hover{
        width: 100%;
        height: 100%;
    }
    
    .circle:hover  .label{
        opacity: 1;
    }
    .circle:hover .logo{
        width: 200px;
        height: 200px;
    }

    .main3{
        margin: 0;
        width:fit-content;
        display: flex;
        flex-flow: column;
        padding: 12% 8%;
        background-image: url(../images/wood.png);
        justify-content: center;
        align-items: center;
    }

    .QA_box{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50px;
    }
    
    .QA{
        margin: 0;
        padding: 10px 10px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-radius: 50px 50px 0 0;
    }
    
    .QA_box img{
        box-shadow: none;
    }
    
    .chat{
        display: flex;
        padding: 15px 8px;
        gap: 20px;
        flex-direction: column;
    }

    .chat p{
        padding: 0;
        margin: 0;
    }

    .pop_left{
        width: fit-content;
        text-align: left;
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;
    }
    
    .pop_right{
        margin-left: 39vw;
        width: 30vw;
        text-align: left;
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;
    }
    
    .chat_cns {
        width: 100%;
        margin: 0;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0 0 50px 50px;
    }

    .introduce_text_box{
        font-size: 12px;
        gap: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inp_img_box{
        margin: 9px 0 ;
        background-color: #F5F5F5;
        padding: 10px;
        border-width: 1px;
        border-color: #000;
        border-radius: 100px;
    
    }
    
    .submit_img{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        padding: 10px;
        border-width: 1px;
        border-color: #000;
        border-radius: 100px;
        width: 25px;
    }
    
    .submit_img img{
        width: 100%;
    }
}