{% extends "base.jinja" %}

{% block title %}
about me
{% endblock title %}

{% block FV_title %}
Introduce
{% endblock FV_title %}

{% block nav %}
<a href="{{ url_for('home') }}"><p>home</p></a>
<a href="{{ url_for('contact') }}"><p>contact</p></a>
{% endblock nav %}

{% block main1 %}

{% endblock main1 %}

{% block main2 %}

{% endblock main2 %}