<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="icon" href="{{ url_for('static',filename='images/forsplash_namelogo.svg') }}" id="favicon">
    {# SEO #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content= "{% block description %}{% endblock description %}">
    <meta name="google-site-verification" content="-FD2TO_4tRne69JjpZVcJZN6IFbWzsTiyw_G9LigwqA" />
    {# OGP #}
    <meta property="og:title" content="田端莞和のポートフォリオ">
    <meta property="og:description" content="Webマルチプレイヤー、田端莞和の最新制作事例をご紹介。">
    <meta property="og:image" content="https://iotabataaws.s3.ap-northeast-3.amazonaws.com/forsplash_namelogo.svg">
    <meta property="og:url" content="https://flask-portfolio-a21y.onrender.com">
    <meta property="og:type" content="website">

    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    {# lightbox2の読み込み #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>    
    {# 自作css #}
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQueryの追加 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slickの追加 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <div class="splash_container">
        <div class="splash_content">
            <svg id="_レイヤー_1" data-name="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" version="1.1" viewBox="0 0 640 480">
            <!-- Generator: Adobe Illustrator 29.1.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 142)  -->
            <defs>
                <style>
                    .st0 {
                    fill: none;
                    stroke: #919191;
                    stroke-miterlimit: 10;
                    stroke-width: 10px;
                    }
                </style>
            </defs>
            <path class="st0" d="M489.33,340.77c-93.79,28.38-187.58,56.76-281.36,85.14,12.31-49.05,37.21-123.34,90.35-201.32,57.79-84.79,167.52-166.85,167.52-166.85l-281.36,85.14M364,191.28c-44.96,0-81.41,36.45-81.41,81.41s36.45,81.41,81.41,81.41,81.41-36.45,81.41-81.41-36.45-81.41-81.41-81.41ZM207.97,425.9l-87.37,29.06"/>
            <defs>
                <style>
                    .st1 {
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                    stroke-width: 30px;
                    }
                </style>
            </defs>
            <path class="st1" id="namelogo" d="M489.33,340.77c-93.79,28.38-187.58,56.76-281.36,85.14,12.31-49.05,37.21-123.34,90.35-201.32,57.79-84.79,167.52-166.85,167.52-166.85l-281.36,85.14M364,191.28c-44.96,0-81.41,36.45-81.41,81.41s36.45,81.41,81.41,81.41,81.41-36.45,81.41-81.41-36.45-81.41-81.41-81.41ZM207.97,425.9l-87.37,29.06"/>

        </svg>
        </div>
    </div>
    <header>
        <div class="header">
            <div class="container">
                <h1>{% block FV_title %}

                    {% endblock FV_title %}</h1>
                <img class="left_img" src="../static/images/wave1.png" alt="">
            </div>

            <div class="right">
                <nav class="nav">
                {% block nav %}
                <a href="#about">
                    <p>about</p>
                </a>
                <a href="#works">
                    <p>works</p>
                </a>
                <a href="{{url_for('contact')}}">
                    <p>contact</p>
                </a>
                {% endblock nav %}
                   
                </nav>
                {% block right_img %}
                <img class="right_img" src="{{ url_for('static', filename='./images/me_child.png') }}"
                    alt="me_in_child">
                {% endblock right_img %}

            </div>

        </div>
    </header>
    

    <main> 
        {% block main1 %}
        <div class="main1" id="about">
           
            <img src="{{ () }}" alt="me_in_festival">
            <div class="text">
                <p></p>
                <h1></h1>
                <p></p>
            </div>
            
        </div>
        {% endblock main1 %}
        {% block main2 %}
        <div class="main2" id="works">
            {% block works_section %}
            <h1>{% block main2_title %}

                {% endblock main2_title %}</h1>

            {% block works_content %}
            <div class="works">
                {% block main2_otherimages %}
                <a href="{{ url_for('migake') }}" class="image-container"><img
                        src="{{ url_for('static', filename='images/Login.png') }}" alt=""></a>
                <a href="{{ url_for('brighttech') }}" class="image-container"><img
                        src="{{ url_for('static',filename='images/Top.png') }}" alt=""></a>
                <a href="#" class="image-container"><img src="../img/schoolfecworks.png" alt="preparing"></a>
                {% endblock main2_otherimages %}
            </div>
            {% endblock works_content %}
            {% endblock works_section%}
        </div>
        {% endblock main2 %}
        {% block main3 %}
        <div class="main3">
            <img src="{{ url_for('static',filename='images/me_adlt.png') }}" alt="me_in_festival">
            <div class="introduce_text_box">
                <div class="history_box">
                    <p>'04 誕生<br>'23 国府高校 卒業<br>'26 KADOKAWAドワンゴ情報工科学院 卒業見込み</p>
                </div>
            </div>
        </div>
        {% endblock main3 %}
    </main>
    <footer>

    {% block footer %}
        <div class="console">
            <img src="../static/images/SVG/forsplash_namelogo.svg" alt="Logo" class="logo">
            <div class="circle">
              <div class="label top"><a href=""><p>top</p></a></div>
              <div class="label about"><a href="#about"><p>about</p></a></div>
              <div class="label recruit"><a href="#works"><p>works</p></a></div>
              <div class="label contact"><a href="{{ url_for('.contact') }}"><p>contact</p></a></div>
            </div>
        </div>
    {% endblock footer %}
        
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
     <!-- progressbar.js -->
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <script src="../static/js/my_script.js"></script>
</body>

</html>