<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    
    {% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQueryの追加 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slickの追加 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <h1>{% block FV_title %}
                
                {% endblock FV_title %}</h1>
                <img class="left_img" src="../static/images/wave1.png" alt="">
            </div>
            
            <div class="right">
                    <nav class="nav">
                    <a href="#about"><p>about</p></a>
                    <a href="#works"><p>works</p></a>
                    <a href="./contact.html"><p>contact</p></a>
                </nav>
                <img class="right_img" src="{{ url_for('static', filename='./images/me_child.png') }}" alt="me_in_child">
            </div>
            
        </div>
    </header>
    <main>
        <div class="main1" id="about">
            <img class="main1_img" src="{{ url_for('static',filename='images/me_adlt.png') }}" alt="me_in_festival">
            <div class="text">
                <p>{% block main1_title %}
                
                {% endblock main1_title %}</p>
                <h1>{% block main1_coment %}
                
                {% endblock main1_coment %}</h1> 
                <p>{% block main1_text %}
                
                {% endblock main1_text %}</p>
            </div>
        </div>
        <div class="main2" id="works">
            <h1>{% block main2_title %}
            
            {% endblock main2_title %}</h1>
            <div class="works">
                <a href="{{ url_for('migake') }}" class="image-container"><img src="{{ url_for('static', filename='images/Login.png') }}" alt=""></a>
                <a href="{{ url_for('precompany') }}" class="image-container"><img src="{{ url_for('static',filename='images/Top.png') }}" alt=""></a>
                <a href="#" class="image-container"><img src="../img/schoolfecworks.png" alt="preparing"></a>
            </div>
            <div class="works">
                <a href="#" class="image-container"><img src="../img/Top.png" alt="preparing"></a>
                <a href="#" class="image-container"><img src="../img/Drnature.png" alt="preparing"></a>
                <a href="#" class="image-container"><img src="../img/1nennseisakubutu.png" alt="preparing"></a>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <a href="#" class="up"><p>top</p></a>
        <a href="#about" class="about"><p>about</p></a>
        <a href="#works" class="work_footer"><p>works</p></a>
        <a href="./contact.html" class="contact"><p>contact</p></a>
    </footer>


    <script src="../my_script.js"></script>
</body>
</html>