{% extends "base.jinja" %}

{% block title %}
contact
{% endblock title %}

{% block FV_title %}
Contact
{% endblock FV_title %}

{% block right_img %}
<img class="right_img" src="{{ url_for('static', filename='./images/confalence.png') }}" alt="me_in_child">
{% endblock right_img %}

{% block nav %}
<a href="{{url_for('home')}}">
    <p>home</p>
</a>
{% endblock nav %}

{% block main1 %}
<div class="main1" id="about">
<img src="../static/images/phone.png" alt="">
            <div class="link_img">
                <a href="mailto:io.tabata.info@iotabata.shop?subject=contact"><img class="mail_img" src="../static/images/mail.jpg" alt=""></a>
                <img src="../static/images/Discord.png" alt="">
                <a href="https://www.instagram.com/millenniumkdg/"><img src="../static/images/instagram.png" alt=""></a>
</div>
{% endblock main1 %}
{% block main2 %}

{% endblock main2 %}
{% block main3 %}

{% endblock main3 %}
{% block footer %}
<div class="console">
    <img src="../static/images/SVG/forsplash_namelogo.svg" alt="Logo" class="logo">
    <div class="circle">
        <div class="label top"><a href=""><p>top</p></a></div>
        <div class="label recruit"><a href="{{ url_for('home') }}"><p>home</p></a></div>
    </div>
</div>
{% endblock footer %}