{% extends "base.jinja" %}

{% block title %}
田端莞和｜Webデザイナー・フロントエンド｜ポートフォリオサイト
{% endblock title %}

{% block description %}
田端莞和のポートフォリオサイト。Webマルチプレイヤー。デザイン＊コーディング＊コミュニケーションでexactlyなWebページを。
{% endblock description %}

{% block FV_title %}
Tabata Io
{% endblock FV_title %}

{% block right_img %}
<img class="right_img" src="{{ url_for('static', filename='./images/me_child.png') }}" alt="me_in_child">
{% endblock right_img %}

{% block main1 %}
<div class="main1" id="about">
    <div class="img_box">
        <img src="{{ url_for('static',filename='images/me_adlt.png') }}" alt="me_in_festival">
    </div>
    <div class="text">
        <p>WHO I AM</p>
        <h1>HELLO</h1>
        <p>KDGN2年webエンジニア専攻<br>webのデザインエンジニアになれるように日々奮闘中！</p>
        <button><a href="{{ url_for('about') }}"><p>Learn more</p></a></button>
    </div>
</div>

{% endblock main1 %}

{% block works_section %}
    {% include 'works_section01.jinja' %}
    <hr>
    {% with works=works %}
    {% include 'works_section02.jinja'%}
    {% endwith %}
{% endblock works_section %}

{% block main3 %}

{% endblock main3 %}

{% block footer %}
<div class="console">
    <img src="../static/images/SVG/forsplash_namelogo.svg" alt="Logo" class="logo">
    <div class="circle">
        <div class="label top"><a href=""><p>top</p></a></div>
        <div class="label about"><a href="{{url_for('add_page')}}"><p>add_page</p></a></div>
        <div class="label recruit"><a href="#works"><p>works</p></a></div>
        <div class="label contact"><a href="{{ url_for('.contact') }}"><p>contact</p></a></div>
    </div>
</div>
{% endblock footer %}