{% extends "base.jinja" %}

{% block title %}
portfolio
{% endblock title %}

{% block FV_title %}
Tabata Io
{% endblock FV_title %}

{% block right_img %}
<img class="right_img" src="{{ url_for('static', filename='./images/me_child.png') }}" alt="me_in_child">
{% endblock right_img %}

{% block main1 %}
<div class="main1" id="about">
    <div class="img_box">
        <img src="{{ url_for('static',filename='images/me_adlt.png') }}" alt="me_in_festival">
    </div>
    <div class="text">
        <p>WHO I AM</p>
        <h1>HELLO</h1>
        <p>KDGN2年webエンジニア専攻<br>webのデザインエンジニアになれるように日々奮闘中！</p>
        <button><a href="{{ url_for('about') }}"><p>Learn more</p></a></button>
    </div>
</div>

{% endblock main1 %}

{% block main2_title %}
WHAT HAVE I DONE
{% endblock main2_title %}

{% block works_content %}
<div class="works">
    <a href="{{ url_for('migake') }}" class="image-container"><img
        src="{{ url_for('static', filename='images/Login.png') }}" alt=""></a>
    <a href="{{ url_for('brighttech') }}" class="image-container"><img
        src="{{ url_for('static',filename='images/Top.png') }}" alt=""></a>
    <a href="{{ url_for('Logos') }}" class="image-container"><img src="{{ url_for('static',filename='images/logo1.png')}}" alt="preparing"></a>
</div>
<div class="works">
    <a href="{{ url_for('dominos') }}" class="image-container"><img
        src="{{ url_for('static', filename='images/dominos_pizza_poster.png') }}" alt=""></a>
    <a href="{{ url_for('/work/1') }}" class="image-container"><img
        src="{{ url_for('static',filename='images/Login.png') }}" alt=""></a>
    <a href="{{ url_for('Logos') }}" class="image-container"><img src="{{ url_for('static',filename='images/logo1.png')}}" alt="preparing"></a>
</div>

    
    
{% endblock works_content %}

{% block main3 %}

{% endblock main3 %}

{% block footer %}
<a href="#"><p>top</p></a>
<a href="#about" ><p>about</p></a>
<a href="#works" ><p>works</p></a>
<a href="{{url_for('contact')}}"><p>contact</p></a>
<a href="{{url_for('add_page')}}"><p>add_page</p></a>
{% endblock footer %}