{% extends "base.jinja" %}

{% block title %}
portfolio
{% endblock title %}

{% block FV_title %}
Tabata Io
{% endblock FV_title %}

<img class="right_img" src="{{ url_for('static', filename='./images/me_child.png') }}" alt="me_in_child">

{% block main1_title %}
who i am
{% endblock main1_title %}

{% block main1_coment %}
Hello
{% endblock main1_coment %}

{% block main1_text %}
KDGN2年webエンジニア専攻<br>所有スキル<br>HTML,CSS,Figma,XD,(以下勉強中)Photoshop,Illastrater,JavaScript<br>経歴<br>国府高校卒業<br>23' 2 コサキ株式会社 スクールIE 塾講師(アルバイト)<br>23' 10 株式会社ドミノ・ピザジャパン(アルバイト) <br>
{% endblock main1_text %}