<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio紹介</title>
    <!-- SEO対策 -->
    <link rel="icon" href="../static/images/SVG/forsplash_namelogo.svg" id="favicon">
    <meta name="google-site-verification" content="-FD2TO_4tRne69JjpZVcJZN6IFbWzsTiyw_G9LigwqA" />
    {# OGP #}
    <meta property="og:title" content="田端莞和のポートフォリオ|サイト紹介">
    <meta property="og:description" content="Webマルチプレイヤー、田端莞和のポーフォリオサイトををご紹介。">
    <meta property="og:image" content="https://iotabataaws.s3.ap-northeast-3.amazonaws.com/forsplash_namelogo.svg">
    <meta property="og:url" content="https://flask-portfolio-a21y.onrender.com/work/portfolio">
    <meta property="og:type" content="website">
    <!-- css -->
    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <!-- 自作css -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <li>
            <ul>top</ul>
            <ul>home</ul>
            <ul>contact</ul>
        </li>
    </header>
    <main>
        <h1>Now making...</h1>
    </main>
    <footer></footer>
    <!-- scripts -->
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
     <!-- progressbar.js -->
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <!-- 自作js -->
    <script src="../static/js/my_script.js"></script>
</body>
</html>