<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio紹介</title>
    <!-- SEO対策 -->
    <link rel="icon" href="../static/images/SVG/forsplash_namelogo.svg" id="favicon">
    <meta name="google-site-verification" content="-FD2TO_4tRne69JjpZVcJZN6IFbWzsTiyw_G9LigwqA" />
    {# OGP #}
    <meta property="og:title" content="田端莞和のポートフォリオ|サイト紹介">
    <meta property="og:description" content="Webマルチプレイヤー、田端莞和のポーフォリオサイトををご紹介。">
    <meta property="og:image" content="https://iotabataaws.s3.ap-northeast-3.amazonaws.com/forsplash_namelogo.svg">
    <meta property="og:url" content="https://flask-portfolio-a21y.onrender.com/work/portfolio">
    <meta property="og:type" content="website">
    <!-- css -->
    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <!-- 自作css -->
    <link rel="stylesheet" href="../static/css/highlight.css">
</head>
<body>
    <header>
        <li>
            <ul><a href="">top</a></ul>
            <ul><a href="{{ url_for('.home') }}">home</a></ul>
            <ul><a href="{{ url_for('.contact') }}">contact</a></ul>
        </li>
    </header>
    <main>
        <section class="section fv">
            <div class="logo_text">
                <img class="logo" src="../static/images/forsplash_namelogo.svg" alt="サイトロゴ">
                <p class="fv1_text">ミニマポートフォリオ</p>
            </div>
                <div class="title_img">
                <img class="fv1_img" src="../static/images/site.png" alt="サイトのスクリーンショット">
                <h1 class="portfolio">PORTFOLIO</h1>
            </div>
        </section>
        <section class="section design">
            <div class="title_text">
                <h1>design</h1>
                <p class="text">このポートフォリオサイトは、白と黒を基調としたシンプルなデザインで構成しています。視認性を重視し、無駄を削ぎ落としたミニマルなレイアウトを採用することで、訪れた人がストレスなく作品や情報を閲覧できるようにしました。また、モノクロのスタイリッシュなビジュアルを活かし、デザインそのものの魅力が引き立つように工夫しています。シンプルながらも印象に残るサイトデザインを目指しました。</p>
            </div>
            <div>
                <img src="../static/images/site.png" alt="ポートフォリオサイトのスクリーンショット">
            </div>
        </section>
        <section class="section ft">
            <div class="title_text">
                <h1>footer</h1>
                <p class="text">このポートフォリオでは、シンプルなデザインの中にもインタラクションの工夫を取り入れています。ページ最下部にカーソルを合わせると、隠れていたメニューがスムーズに表示されるアニメーションを実装しました。普段はシンプルなレイアウトを保ちつつ、必要なときに直感的に操作できるデザインになっています。視認性と機能性のバランスを大切にし、ストレスなくサイトを閲覧できるように工夫しました。</p>
            </div>
            <div class="img_container">
                <img src="../static/images/before.png" alt="デザイン変更前のスクリーンショット">
                <img src="../static/images/after.png" alt="デザイン変更後のスクリーンショット">
            </div>
        </section>
        <section class="section sp">
            <div class="title_text">
                <h1>splash</h1>
                <p class="text">このポートフォリオでは、サイトを開いた瞬間の体験にもこだわりました。最初に、自作のネームロゴがスプラッシュアニメーションとして現れる演出を入れています。これは、自分のブランドを印象づけるだけでなく、サイトに訪れた人の期待感を高める役割も持っています。シンプルなデザインの中に遊び心を加えつつ、ブランディングの一環としても機能するよう工夫しました。</p>
            </div>
            <div>
                <img src="../static/images/田端莞和｜Webデザイナー・フロントエンド｜ポートフォリオサイト.gif" alt="gif">
            </div>
        </section>
        <section class="section skill">
            <div class="title_text">
                <h1>skills</h1>
                <p class="text"></p>
            </div>
            <div>
                <!-- スキルはpsで作ってはろう -->
                <img src="../static/images/skillstacks.png" alt="使用技術スタックの画像">
            </div>
        </section>
    </main>
    <footer></footer>
    <!-- scripts -->
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
     <!-- progressbar.js -->
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <!-- 自作js -->
    <script src="../static/js/highlight.js"></script>
</body>
</html>