<h1>WHAT HAVE I DONE(動的)</h1>
<div class="works">
    {% for url in works %}
        <a href="{{ url_for('work_detail', work_id=work_id) }}" class="image-container">
        <img src="{{ url.topimg }}" alt="for detail">
        </a>
    {% endfor %}
</div>
