<h1>My hieghtLights</h1>
<div class="works">
    <a style="filter: grayscale(0.8);" href="{{ url_for('portfolio') }}" class="image-container"><img
        src="{{ url_for('static', filename='images/me_child.png') }}" alt="田端莞和（子ども時代）の写真"></a>
    <a href="{{ url_for('namelogo') }}" class="image-container"><img src="{{ url_for('static',filename='images/SVG/forsplash_namelogo.svg') }}" alt="ネームロゴ"></a>
</div>
