<h1>WHAT HAVE I DONE(動的)</h1>
<div class="works">
    <pre>{{ works | tojson }}</pre> <!-- works の中身を確認 -->
    {% for work in work %}
        <a href="{{ url_for('work_detail', work_id=work.id) }}" class="image-container">
            <img src="{{ work.topimg }}" alt="for detail">
        </a>
    {% endfor %}
</div>