<h1>WHAT HAVE I DONE(静的)</h1>
<div class="works seiteki">
    <a href="{{ url_for('migake') }}" class="image-container"><img
        src="{{ url_for('static', filename='images/Login.png') }}" alt="Login ページのスクリーンショット"></a>
    <a href="{{ url_for('brighttech') }}" class="image-container"><img
        src="{{ url_for('static',filename='images/Top.png') }}" alt="サイトのトップページスクリーンショット"></a>
    <a href="{{ url_for('Logos') }}" class="image-container"><img src="{{ url_for('static',filename='images/logo1.png')}}" alt="preparing"></a>
    <a href="{{ url_for('dominos') }}" class="image-container"><img src="{{ url_for('static', filename='images/dominos_pizza_poster.png') }}" alt="ドミノピザのポスターデザイン"></a>
</div>